option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: PORT
    value: 8080
  - option_name: MONGODB_URI
    value: mongodb://lms:alphabetagamma@35.154.37.69:27017/tenantregistry-lms-prod
  - option_name: SVC_SSO
    value: https://accounts.rankguru.com
  - option_name: AWS_S3_KEY
    value: AKIA4XBZMKL5IIJGR4UK
  - option_name: AWS_S3_SECRET
    value: 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
  - option_name: AWS_S3_REGION
    value: ap-south-1
  - option_name: AWS_PUBLIC_BUCKET
    value: ekslmsprojectpublic
  - option_name: CACHE_TIMEOUT_SUBJECT
    value: 1    
  - option_name: CACHE_TIMEOUT_TEXTBOOK
    value: 1    
  - option_name: CACHE_TIMEOUT_TOPIC
    value: 1    
  - option_name: CACHE_TIMEOUT_CONTENTMAPPING
    value: 1    
  - option_name: CACHE_TIMEOUT_QUESTION
    value: 1    
  - option_name: CACHE_TIMEOUT_INSTITUTEHIERARCHY
    value: 1    
  - option_name: CACHE_TIMEOUT_STUDENT
    value: 1    
  - option_name: REDIS_AUTH
    value: 0
  - option_name: REDIS_HOST
    value: rankguru-redis.3odpbz.clustercfg.aps1.cache.amazonaws.com
  - option_name: REDIS_PASSWORD
    value: 
